@charset "UTF-8";

/* TABLET */
@media screen and (min-width: 769px) and (max-width:992px) {
    html{
        background-image: linear-gradient(to bottom, var(--priCor), var(--segCor), var(--terCor));
    }

    section#login{
        width: 90vw;
        height: 400px;
        border-radius: 30px 15px 15px 30px;
    }

    section#login > div#sectionBack{
        background-position: right center;
        float: left;
        width: 40%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
    }

    section#login > div#sectionForm{
        float: right;
        width: 57%;
    }

    div > h1{
        font-size: 2.5em;
    }

    div > p {
        line-height: 1.4em;
        margin: 15px 0px;
        text-align: justify;
    }

    .input{
        width: 85%;
    }
}

@media screen and (min-width:993px) {
    html{
        background-image: linear-gradient(to bottom, var(--priCor), var(--segCor), var(--terCor));
    }

    section#login{
        width: 975px;
        height: 500px;
        border-radius: 15px 30px 30px 15px;
    }

    section#login > div#sectionBack{
        float: right;
        background-position: right center;
        width: 47%;
        height: 100%;
        border-radius: 0px 15px 15px 0px;
    }

    section#login > div#sectionForm{
        float: left;
        width: 50%;
    }

    div > h1{
        font-size: 3.5em;
    }

    div > p {
        line-height: 1.1em;
        font-size: 1.2em;
        margin: 15px 0px;
        text-align: justify;
    }

    .input{
        width: 88%;
    }
}