@charset "UTF-8";

/* Qql tela acima de 769px*/
@media screen and (min-width: 769px) {
    html{
        background-image: linear-gradient(to bottom, var(--priCor), var(--segCor), var(--terCor));
    }

    section#login{
        width: 700px;
    }

    #sectionBack{
        width: 700px;
        background-position: top center;
    }
}