@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* 
Mobile First 
font-family: 'Bebas Neue', cursive;
*/

:root{
    --priCor: #0f0c29;
    --segCor: #302b63;
    --terCor: #24243e;
}

*{
    padding: 0px;
    margin: 0px;
}

html{
    height: 100vh;
    font-family: 'Arimo', sans-serif;
    font-weight: normal;
    background-color: var(--priCor);
}

main{
    width: 250px;
    margin: auto;
    margin-top: 90px;
    background-color: #FFFFFF;
    border-radius: 30px 30px 15px 15px; /* pra esconder aresta sobresaindo da img*/
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.747);
}

section#sectionBack{
    background: black url(../images/background1.jpg) center center no-repeat;
    background-size: cover;
    width: 250px;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}

section#sectionForm{
    padding: 10px;
}

h1{
    text-align: center;
    font: normal normal 2em 'Bebas Neue', cursive;
}

section > p {
    text-align: justify;
    margin-top: 10px;
    line-height: 1.15em;
}

div.entradaTxt{
    color: white;
    background-color: var(--segCor);
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
}

span{
    position: relative;
    top: 8px;
}

input.input{
    padding: 10px;
    border-radius: 5px;
    width: 76%;
    border-style: none;
}

div.button{
    margin: 5px auto;
    text-align: center;
}

#btnLog{
    padding: 15px;
    color: #FFFFFF;
    background: var(--priCor);
    border-radius: 5px;
    border-style: none;
    width: 100%;
}

#btnLog:hover{
    background-color: var(--segCor);
}

#btnEsq{
    padding: 15px;
    color: var(--priCor);
    background: #FFFFFF;
    border-radius: 5px;
    border-style: none;
    width: 100%;
    border: 2px solid var(--priCor);
}

#btnEsq:hover{
    background-color: var(--segCor);
    border-color: var(--segCor);
    color: #FFFFFF;
}